<div class="conmponents-navigation-container">
  <ul class="nav-main spectrum-Tabs desktop-view mobile-view spectrum-Tabs--vertical" role="menubar">
    {% for item in site.data.main-nav %}
      <li class="nav-main-item spectrum-Tabs-item{% if page.url contains item.url %} is-selected{% endif %}"><a class="spectrum-Menu-itemLabel" href="{{ site.baseurl }}{{ item.url }}">{{ item.label }}</a></li>
    {% endfor %}
  </ul>

  <div class="components-navigation-button">  
    <a href="https://link-to-xd.com/" class="spectrum-Button spectrum-Button--cta"><span class="spectrum-Button-label">Get UI Kit</span></a>
  </div>
</div>

<style>
  .conmponents-navigation-container {
    display: grid;
    grid-template-columns: 1fr 100px 120px;
  }
  .components-navigation-button {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
</style>
